body {
  background-image: linear-gradient(to bottom, #af006b, #eee7f9);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-size: 100% 150%;
  display: flex;
  flex-wrap: wrap;
}

.lista {
  background-color: #ff9ee7;
  display: flex;
  padding: 15px;
  border-radius: 40px;
  flex-direction: column;
  margin-top: 150px;
}

.lista ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}

.input input {
  margin-bottom: 10px;
  border: none;
}
