body {
  background-image: url("../../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
  padding-left: 33px;
  padding-top: 33px;
}

.image {
  width: 240px;
  height: 240px;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-items: center;
}
